{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'zest/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'zest/css/style.css' %}">
  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
  <script src="{% static 'zest/js/jquery.js' %}"></script>
  <script src="{% static 'zest/js/popper.js' %}"></script>
  <script src="{% static 'zest/js/bootstrap.js' %}"></script>
  <div class="container-fluid px-0">
    {% include 'zest/navbar.html' %}
  </div>
  <div class="container px-0">
    {% block message %}

    {% endblock message %}
    {% block content %}

    {% endblock content %}
    </div>
  </div>
</body>
</html>