<div class="concontainer-fluid footer-bg-1 mt-5 px-0 d-print-none">
  <div class="container">
    <div class="row justify-content-center text-white text-center">
      <div class="col-md-8 py-4 ">
        <h4>Shri Ram Murti Smarak College of Engineering and Technology</h4>
        <p>Organized by Tyro Club 2K21</p>
      </div>
    </div>
  </div>
</div>
<div class="concontainer-fluid footer-bg-2 px-0 d-print-none">
  <div class="container">
    <div class="row footer-bg-2">
      <div class="col-md-6 text-white pt-2">
        contentcopyright@Zest2021
      </div>
      <div class="col-md-6">
        <ul class="social float-md-right">
          <li><a class="fab fa-facebook" href=""></a></li>
          <li><a class="fab fa-instagram" href=""></a></li>
          <li><a class="fab fa-whatsapp" href=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>