<div class="concontainer-fluid footer-bg-1 mt-5 px-0 d-print-none">
  <div class="container">
    <div class="row justify-content-center text-white text-center">
      <div class="col-md-8 py-4 ">
        <h4>Shri Ram Murti Smarak College of Engineering and Technology</h4>
        <p class = "mb-0">Powered by: Department of Computer Science & Engineering</p>
        <p class = "mb-0">Developed by</p>
        <a class="text-white" href="https://github.com/nikhil777jais">Nikhil Jaiswal |</a>
        <a class="text-white" href="https://github.com/Nickhil1737">Nikhil Kumar Gangwar |</a>    
        <a class="text-white" href="https://github.com/rajat-chn">Rajat Chauhan</a>
      </div>
    </div>
  </div>
</div>
<div class="concontainer-fluid footer-bg-2 px-0 d-print-none">
  <div class="container">
    <div class="row footer-bg-2">
      <div class="col-md-6 text-white pt-2">
        &copy; Zest2K21
      </div>
      <div class="col-md-6">
        <ul class="social float-md-right">
          <li><a class="fab fa-facebook" href=""></a></li>
          <li><a class="fab fa-instagram" href=""></a></li>
          <li><a class="fab fa-whatsapp" href=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
