{% extends 'zest/base.html' %}
{% load static %}
{% block message %}
<div class="container text-white">
  <div class="row">
    <div class="col-md-12 mt-3">
      {% if messages %}
      {% for message in messages %}
      <div {% if message %} class="alert alert-{{message.tags}}" {% endif %}role="alert">
        <h3>{{message}}</h3>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock message %}
{% block content %}
{% if pid %}
<div class="container bg-white rounded">
<form>
    <input type="button" value="Print this page" onClick="window.print()">
</form>
  <div class="row justify-content-center text-center mb-4">
    <div class="col-md-9 ">
      <img src="{% static 'zest/images/q.png' %}" class="rounded mx-auto py-3 d-block" width=35% alt="srmslogo">
    </div>
    <div class="text-theme">
      <h5>SHRI RAM MURTI SMARAK COLLEGE OF ENGINEERNING AND TECHNOLOGY,BAREILLY</h5>
      <h5>Ram Murti Puram, Bareilly - Nainital Rd, Highway, Bhoji Pura, Uttar Pradesh 243202</h5>
      <h4 class="pt-2"><b>Zest 2021 Rgistration Details</b></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-bordered bg-white ">
        <tbody>
          <tr>
            <th class="align-middle py-2" width=20% scope="row">PID</th>
            <td class="align-left py-2" width=30%>{{pid.id}}</td>
            <th class="align-middle py-2" width=20% scope="row">Name</th>
            <td class="align-left py-2">{{pid.name}}</td>
          </tr>
          <tr>
            <th class="align-middle py-2" width=20% scope="row">College Name</th>
            <td class="align-left py-2" width=30%>{{pid.roll_no}}</td>
            <th class="align-middle py-2" width=20% scope="row">Roll Number</th>
            <td class="align-left py-2">{{pid.college_name}}</td>
          </tr>
          <tr>
            <th class="align-middle py-2" width=20% scope="row">Batch</th>
            <td class="align-left py-2" width=30%>{{pid.batch}}</td>
            <th class="align-middle py-2" width=20% scope="row">Course</th>
            <td class="align-left py-2">{{pid.course}}</td>
          </tr>
          <tr>
            <th class="align-middle py-2" width=20% scope="row">Branch</th>
            <td class="align-left py-2" width=30%>{{pid.branch}}</td>
            <th class="align-middle py-2" width=20% scope="row">Registration Date</th>
            <td class="align-left py-2">{{pid.date_joined}}</td>
          </tr>
          <tr>
            <th class="align-middle py-2" width=20% scope="row">Generated_by</th>
            <td class="align-left py-2" width=30%>{{pid.generated_by}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-md-4">
      <div class="card text-center ">
        <div class="card-header">
          <img src="{% static 'zest/images/1_avatar-512.webp' %}" class="card-img-top" alt="reistration image">
        </div>
        <div class="card-body m-3">
          <h5 class="card-title ">Register Individual</h5>
          <p class="card-text">Click The given Button to Generate PID</p>
          <a href="{% url 'generate_pid' %}" class="btn btn-color">Click Here</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock content %}
