{% extends 'zest/base.html' %}
{% load static %}
{% block message %}
<div class="container text-white">
  <div class="row">
    <div class="col-md-12 mt-3">
      {% if messages %}
      {% for message in messages %}
      <div {% if message %} class="alert alert-{{message.tags}}" {% endif %}role="alert">
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock message %}
{% block content %}
<div class="container">
  <div class="row ">
    <div class=" rounded col-12 my-2 text-center p-2 bg-warning"> 
      <h2>Solo Events</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/Dance-PNG.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title text-center">Solo Dance</h5>
          <form action="{% url 'add_event_in_pid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="SOLO DANCE"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter PID" name="pid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/monoact.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title text-center">Monoact</h5>
          <form action="{% url 'add_event_in_pid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="MONOACT"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter PID" name="pid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/mehndika.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title text-center">Mehndika</h5>
          <form action="{% url 'add_event_in_pid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="MEHNDIKA"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter PID" name="pid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/charcolate.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title text-center">Charcolate</h5>
          <form action="{% url 'add_event_in_pid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="CHARCOLATE"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter PID" name="pid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/solosong.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title text-center">Inidan Solo</h5>
          <form action="{% url 'add_event_in_pid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="INDIAN SOLO"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter PID" name="pid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/openmic.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title text-center">Open Mic</h5>
          <form action="{% url 'add_event_in_pid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="OPEN MIC"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter PID" name="pid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/caligraphy.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title text-center">Calligraphy</h5>
          <form action="{% url 'add_event_in_pid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="CALLIGRAPHY"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter PID" name="pid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title text-center">Other</h5>
          <form action="{% url 'add_event_in_pid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="OTHER"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter PID" name="pid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-12 rounded  text-center mt-4 p-2 bg-warning my-2"> 
      <h2>Team Events</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/groupdance.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Group Dance</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="GROUP DANCE"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/duetdance.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Duet Dance</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="DUET DANCE"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/multiscene.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Multiscene</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="MULTISCENE"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/streetplay.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Street Play</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="STREET PLAY"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/gratis.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Gratis</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="GRATIS"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/antkshari.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Situational Antakshri</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="SITUATIONAL ANTAKSHRI"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/DumbCharades.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Dumb Charades</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="DUMB CHARADES"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/rangoli.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Rangoli</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="RANGOLI"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/duetsong.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Duet Song</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="DUET SONG"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/battleofbands.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Battle of Bands</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="BATTLE OF BANDS"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/storyrecitation.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Story Recitation</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="STORY RECITATION"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/mime.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Mime</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="MIME"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
  </div>
</div>
{% endblock content %}