{% extends 'zest/base.html' %}
{% load static %}
{% block message %}
<div class="container text-white">
  <div class="row">
    <div class="col-md-12 mt-3">
      {% if messages %}
      {% for message in messages %}
      <div {% if message %} class="alert alert-{{message.tags}}" {% endif %}role="alert">
        <h3>{{message}}</h3>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock message %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 my-2 text-center p-2 bg-warning"> 
      <h2>Solo Events</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title text-center">Solo Dance</h5>
          <form action="{% url 'add_event_in_pid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Solo Dance"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter PID" name="pid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title text-center">Monoact</h5>
          <form action="{% url 'add_event_in_pid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Monoact"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter PID" name="pid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title text-center">Mehndika</h5>
          <form action="{% url 'add_event_in_pid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Mehndika"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter PID" name="pid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title text-center">Charcolate</h5>
          <form action="{% url 'add_event_in_pid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Charcolate"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter PID" name="pid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title text-center">Inidan Solo</h5>
          <form action="{% url 'add_event_in_pid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Inidan Solo"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter PID" name="pid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title text-center">Open Mic</h5>
          <form action="{% url 'add_event_in_pid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Open Mic"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter PID" name="pid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title text-center">Calligraphy</h5>
          <form action="{% url 'add_event_in_pid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Calligraphy"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter PID" name="pid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title text-center">Other</h5>
          <form action="{% url 'add_event_in_pid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Other"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter PID" name="pid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-12 text-center mt-2 p-2 bg-warning my-2"> 
      <h2>Team Events</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Group Dance</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Group Dance"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Duet Dance</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Duet Dance"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Multiscene</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Multiscene"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Street Play</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Street Play"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Gratis</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Gratis"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Situational Antakshri</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Situational Antakshri"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Dumb Charades</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Dumb Charades"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Rangoli</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Rangoli"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Duet Song</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Duet Song"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Battle of Bands</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Battle of Bands"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
    <div class="col-md-3 mt-3">
      <div class="card text-center">
        <div class="card-header">
          <img src="{% static 'zest/images/bootwise-icon-02.png' %}" class="card-img-top" alt="registration image">
        </div>
        <div class="card-body mb-0">
          <h5 class="card-title">Story Reciting</h5>
          <form action="{% url 'add_event_in_tid' %}" method="POST" novalidate>
            {% csrf_token %}
            <input class='d-none' name="event_name" value="Story Reciting"/>
            <input class="form-control mx-sm-2 mb-2" type="search" placeholder="Enter TID" name="tid" aria-label="regester_event">
            <button class="btn btn-color serach-btn my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div> 
  </div>
</div>
{% endblock content %}