{% extends 'zest/base.html' %}
{% block message %}
<div class="container text-dark">
  <div class="row">
    <div class="col-md-12 mt-3">
      {% if messages %}
        {% for message in messages %}
          <div {% if message %} class="alert alert-{{message.tags}}"{% endif %}role="alert">{{message}}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock message %}
{% block content %}
<div class="container">
  <div class="row justify-content-center text-dark mt-3">
    <div class="col-md-7 text-center">
      <h2>Register to Portal</h2>
    </div>
    <div class="col-md-7">
      <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% for fm in form %}
            <div class="mb-1">{{fm.label_tag}} {{fm}}<small class="error">{{fm.errors|striptags}}</small></div>
        {% endfor %}
        <div class="mt-3">
          <input type="submit" value="Sign Up" class="btn btn-success" >
          <a href="{% url 'login' %}" class="btn btn-info mx-1">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
